<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
   <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
   <title>{{pagename}}</title>
</head>

<body>
   <div class="container-fluid">
      <div class="row">
         <div class="col">
            <nav class="navbar navbar-expand-lg bg-light">
               <div class="container-fluid">
                  <a class="navbar-brand link" href="#">CrowdHelp</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav justify-content-center">
                        <li class="nav-item">
                           <a class="nav-link active links" aria-current="page" href="{{url_for('home')}}">Home</a>
                        </li>
                        <!-- <li class="nav-item">
                           <a class="nav-link links" href="{{url_for('signup')}}">Signup</a>
                        </li> -->
                        {% if session.get("user") == None%}
                        <li class="nav-item">
                           <a href="/login" class="nav-link links">Login</a>
                        </li>
                       {% else %}
                        <li class="nav-item">
                           <a href="/logout" class="nav-link links">Logout {#{{ session.get("user") }}#}</a> 
                        </li>
                        {% endif %}
                        <li class="nav-item">
                           <a class="nav-link links" href="#about">About Us</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link links2 btn btn-outline-danger" href="{{url_for('projects')}}">Donate</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
      </div>

   <div class="container col-xxl-8 px-4 py-5">
      {% if session.get('user') != None %}
      <header class="p-3 border-bottom">
         <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
   
               <ul class="member nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
                  <li><a href="/dashboard" class="nav-link px-2 " style="color:#FF5714">Dashboard</a></li>
                  <li><a href="{{url_for('create_project')}}" class="nav-link px-2 link-dark">Create A CrowdHelp Project</a></li>
                  <li><a href="{{url_for('projects')}}" class="nav-link px-2 link-dark">Donate to a CrowdHelp project</a></li>
                  <li><a href="{{url_for('myprojects')}}" class="nav-link px-2 link-dark">My Projects</a></li>
   
               </ul>
   
   
               <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                     aria-expanded="false">
                     {% if userdeets and userdeets.user_profilepic %}
                     <img src="/static/profiles/{{ userdeets.user_profilepic }}" alt="mdo" width="32" height="32"
                        class="rounded-circle">
                     {% else %}
                     <img src="/static/images/mdo.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                     {% endif %}
                  </a>
   
                  <ul class="dropdown-menu text-small">
                     <li><a class="dropdown-item" href="{{url_for('changedp')}}">Change Profile Picture</a></li>
                     <li><a class="dropdown-item" href="{{url_for('change_password')}}">Change Password</a></li>
                     <li><a class="dropdown-item" href="#">Settings</a></li>
   
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="{{ url_for('logout')}}">Sign out</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </header>
      {% endif %}
      
   </div>
      {% block banner %}

      {% endblock %}

      {% block content1 %}
      
      {% endblock %}

      {% block content2 %}
      
      {% endblock %}

      {% block content3 %}
      
      {% endblock %}


      <!-- Footer Starts here -->
      <div class="row last">
         <div class="col">
            <p class="text-center lastp">CrowdHelp&copy;2023. All Rights Reserved</p>
         </div>
      </div>
      
      </div>
      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery.min.js"></script>
      {% block customjs %}
      
      {% endblock %}
      </body>
      </html>